:root {
    --darkblue:hsl(216, 28%, 7%);
    --midblue:#1e2b3f;
    --midblue2:#2d415d;
    --paleblue:#587092;
    --lightblue:#c4dcff;
    --paradisepink: #E5446D;
    --border-radius: 5px;
}




html{
    background:var(--darkblue);
    color: white;
}

.timeline-slider{
	width: 100%;
	margin: auto 0;
    cursor: pointer;

}


.video-player-container{
    position: relative;
    width: 95%;
    margin:0;
    margin-right: 2rem;
}

.timeline-container{
    width: auto;
}

.icon-button{
    filter: invert(1);
    color: white;
    cursor: pointer;
    margin: auto 10px;
}

.icon-button:hover{
    filter: invert(0.3);
}


.slider-container{
    position: relative;
    width: 100%;
    cursor: pointer;
}

.volume-slider{
    -webkit-appearance: none;
    background: var(--midblue); 
    border-radius: 25px;
    
   
}


.volume-slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 25px;
  background: var(--lightblue);
  cursor: pointer;
  
}

.volume-slider::-moz-range-thumb{
  width: 15px;
  height: 15px;
  border-radius: 25px;
  background: var(--lightblue);
  cursor: pointer;

}

.slider-main{
    width: 100%;
    cursor: pointer;
    -webkit-appearance: none;  
    background: var(--midblue); 
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.slider-main::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 10px; 
    height: 20px;
    background: var(--lightblue); 
    cursor: pointer; 
  }
  
  .slider-main::-moz-range-thumb {
    width: 10px; 
    height: 20px;
    background: var(--lightblue); 
    cursor: pointer; 
  }

.marker{
    position: absolute;
    width: 5px;
    height:100%;
    background: var(--paradisepink);
    Top:0;
    margin: 0;
    padding: 0;
    
}

.cuelist-container{
    background-color: var(--midblue);
    width: 25%;
    list-style: none;
    text-decoration: none;
   

    
}

.cuelist-container ul{
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.cueitem-container{
    background-color: var(--darkblue);
    padding: 0.1rem;
    
}

.controls-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.timecode-container{
    display: flex;
    margin-left: 1rem;
   
}

.timecode-container p {
    margin: 0 0.2rem;
    
}

.input-container{
    width: 100%;
    height: 75px;
    background: var(--midblue);
    border: 2px solid var(--midblue2);
    color: white;
    margin-bottom: 0.5rem;
    resize: none;
    transition: 0.3s ease-in-out;
    font-size: 18px;
    border-radius: var(--border-radius);


}

.input-container:focus{
    outline: none !important;
    background: var(--midblue2);
    border: 2px solid var(--lightblue);
}

.text-button{
    background: var(--midblue);
    color:white;
    border: 2px solid var(--midblue2);
    padding: 0.5rem;
    float: right;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: var(--border-radius);

}

.text-button:hover{
    background: var(--lightblue);
    color: var(--darkblue);
    border: 2px solid var(--lightblue);
    
}