:root {
    --darkblue:#0d1117;
    --midblue:#1e2b3f;
    --midblue2:#2d415d;
    --paleblue:#587092;
    --lightblue:#c4dcff;
}




html{
    background:var(--darkblue);
    color: white;
}

.timeline-slider{
	width: 100%;
	margin: auto 0;
    cursor: pointer;

}


.slider-border{
	display: flex;
	background: var(--midblue);
	border-radius: var(--midblue2);
	top:0;


}

.slider-progress{
	widows: 0;
	border-style: dotted;
	border-width: 0 1px 0 0;
	border-color: var(--midblue2);
	height:18px;
	background: var(--paleblue);
	transition: 0.3s ease-in-out;
}

.slider-playhead{
    background-color: var(--lightblue);
    width: 5px;
    height: auto;
    position: 0;
    cursor: pointer;
}

.video-player-container{
    position: relative;
    width: 50%;
}

.timeline-container{
    width: auto;
}

.icon-button{
    filter: invert(1);
    color: white;
    cursor: pointer;
    margin: auto 10px;
}

.icon-button:hover{
    filter: invert(0.3);
}